<!-- navbar ne s'affiche pas si mise dans shared/navba -->


<div class="home-banner" style="background-image: url('<%= image_path 'home.jpeg' %>');">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" >
    <a class="navbar-brand" href="#">
      <img src="https://image.flaticon.com/icons/svg/2111/2111320.svg" />
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Devenez hôte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inscription</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card-home">
    <h2>Book a flat and enjoy an authentic experience</h2>
    <!--   <%#= simple_form_for [@flat, @booking] do |f| %>
      <input name="date" id="flatpickr" class="col-10 offsert-10">
      <%#= f.input :start_date, as: :date, placeholder: 'Choose a date', label: false, input_html: { class: "datepicker" } %>
      <%#= f.input :end_date, as: :date, placeholder: 'Choose a date', label: false, input_html: { class: "datepicker" } %>
      <%#= f.input :number_of_traveler %>
       <%#= f.button :submit, class: 'btn btn-outline-light', id:'sweet-alert-demo'%>
    <#% end %> -->
  </div>
</div>
