<div class="home-banner" style="background-image: url('<%= image_path 'home.jpeg' %>');">



  <div class="card-home">
    <h2>Book a flat and enjoy an authentic experience</h2>
      <!-- form -->
  </div>
</div>
