.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: absolute;
  top: 15px;
  // padding-bottom: 70vh;
}

.navbar-lewagon .navbar-collapse {
  // flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-weight: bold;
  font-color: white;
  font-size: 20px;
}

.navbar-nav {
  position: absolute;
  left: 1500px;
}

.nav-item img {
  width: 70px;
}

